.main_space {
    width: 100%;
    height: 120vh;
    
    display: flex;
    flex-direction: column;
    padding: 100px 120px;

    gap: 120px;
 
    background-color: var(--neutral-system);
}

.head_content {
    width: 100%;
    height: 176px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.title {
    color: var(--neutral-primary, #2B2D33);
    text-align: center;

    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 64px; 
}

.pre_title_block {
    width: 100%;
    height: 20px;

    display: grid;
    place-items: center;
}

.pre_title {
    width: 100%;
    max-width: 520px;
    align-self: stretch;

    color: var(--neutral-secondary, #555A65);
    text-align: center;

    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; 
}

.card_space {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.card {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.image {
    height: 390px;
}

.card_content_block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 28px;
    padding: 5rem;
}

.card_title {
    color: var(--neutral-primary);
    width: 486px;
    align-self: stretch;

    font-size: 1.3rem;
}

.card_pre_title {
    color: var(--neutral-secondary);

    font-size: 16px;
    font-style: normal;
    font-weight: 200;
    line-height: 24px;
}

.btn {
    display: flex;
    padding: 16px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    background: var(--accent-brand);

    font-family: Inter;
    color: var(--neutral-system);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;

    transition: .3s ease-in-out;

    outline: 2px solid var(--accent-brand);
}

.btn:is(:focus, :active, :hover) {
    outline-offset: 2px;
}





@media screen and (max-width:1330px) {
    .card_title {
        width: 400px;
        font-size: .9rem;
    }
    
    .card_pre_title {
        color: var(--neutral-secondary);
        font-size: .8rem;
    }

    @media screen and (max-width:1240px) {
        .image {
            height: 310px;
        }
        .card_title {
            width: 400px;
            font-size: .7rem;
        }
        
        .card_pre_title {
            color: var(--neutral-secondary);
            font-size: .6rem;
        }
    }

    @media screen and (max-width:1155px) {
        .image {
            height: 280px;
        }
        .card_title {
            width: 350px;
            font-size: .7rem;
        }
        
        .card_pre_title {
            color: var(--neutral-secondary);
            font-size: .6rem;
        }
    }

    @media screen and (max-width:1024px) {
        .image {
            height: 210px;
        }
        .card_title {
            width: 300px;
            font-size: .7rem;
        }
        
        .card_pre_title {
            width: 300px;
            color: var(--neutral-secondary);
            font-size: .6rem;
        }

        .btn {
            padding: 10px 18px;
            font-size: 11px;
        }

        /* ----- */


        .title {
            font-size: 50px;
        }

        .pre_title {
            font-size: 13px;
        }

        .main_space {
            padding: 60px 80px;
        }
    }

    @media screen and (max-width: 860px) {
        .main_space {
            padding: 40px 60px;
        }
        .title {
            font-size: 42px;
        }

        .pre_title {
            font-size: 10px;
        }

        .image {
            height: 210px;
        }
        .card_title {
            width: 220px;
            font-size: .6rem;
        }
        
        .card_pre_title {
            color: var(--neutral-secondary);
            font-size: .4rem;
            width: 220px;
        }
    }

    @media screen and (max-width: 753px) {
        .main_space {
            padding: 25px 45px;
            
        }
        .title {
            font-size: 32px;
        }

        .pre_title {
            font-size: 10px;

            max-width: 300px;
        }

        .image {
            height: 180px;
        }
        .card_title {
            width: 180px;
            font-size: .6rem;
        }
        
        .card_pre_title {
            color: var(--neutral-secondary);
            font-size: .4rem;
            width: 180px;
        }
    }

    @media screen and (max-width: 637px) {
        .card {
            flex-direction: column;
        }
    }

    @media screen and (max-width: 375px) {
        .main_space {
            padding: 5px 25px;
            
        }
        .image {
            height: 150px;
        }

        .title {
            font-size: 28px;
        }

        .pre_title {
            font-size: 10px;

            max-width: 200px;
        }

        .card_content_block {
            padding: 1rem;
        }
    }
}